<html>
<head>
  <title>{{ title }} - Payste</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <style>

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

  </style>
</head>
<body>
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1"><span class="text-muted">Powered by Interledger</span></div>
        <div class="col-4 text-center"><a class="blog-header-logo text-dark" href="/">Payste</a></div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="text-muted" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
          </a>
        </div>
      </div>
    </header>
    <div class="nav-scroller py-1 mb-2">&nbsp;</div>
    <div class="text-muted flex-nowrap justify-content-between">
      <h1 class="text-dark col-6">{{ title }}</h1>
      <span class="col-2" id="receiver">{{ receiver }}</span>
      <span class="col-2" id="paid">{{ paid }}</span>
      <span id="status" class="col-2 text-danger"></span>
    </div>
    <hr />
    <div>{{ &text }}</div>
  </div>
  <script>
    window.addEventListener('load', function () {
      var status = document.getElementById('status')
      var url = new URL(window.location)

      if (window.monetize) {
        window.monetize({ receiver: url.origin + '/pay_to/{{ receiver }}' })
          .then(() => {
            status.className = 'text-success'
            status.innerHTML = 'Paying'
          })
          .catch(() => {
            status.innerHTML = 'Not Paying'
          })
      } else {
        status.innerHTML = 'Not Paying'
      }

      var socket = new WebSocket((url.protocol === 'https:' ? 'wss:' : 'ws:') + '//' + url.host)

      socket.onopen = function () {
        socket.send(JSON.stringify({ receiver: '{{ receiver }}' }))
      }

      var paid = document.getElementById('paid')
      socket.onmessage = function (msg) {
        paid.innerHTML = JSON.parse(msg.data).balance
      }
    })
  </script>
</body>
</html>
